#biapp {
  #all_header {
    top: 66px !important;
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
}

#content {
  padding: 0;
}

#subhead-container {
  display: none;
}
