<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_AESIRX_BI" name="aesirx_bi">
        <!-- <field
                name="react_app_client_id"
                type="text"
                label="PLG_SYSTEM_AESIRX_BI_PARAM_REACT_APP_CLIENT_ID_LABEL"
                class="col-md-12"
        />
        <field
                name="react_app_client_secret"
                type="text"
                label="PLG_SYSTEM_AESIRX_BI_PARAM_REACT_APP_CLIENT_SECRET_LABEL"
                class="col-md-12"
        />
        <field
                name="react_app_license"
                type="text"
                label="PLG_SYSTEM_AESIRX_BI_PARAM_REACT_APP_LICENSE_LABEL"
                class="col-md-12"
        /> -->
        <field
                name="react_app_endpoint_url"
                type="text"
                label="PLG_SYSTEM_AESIRX_BI_PARAM_REACT_APP_ENDPOINT_URL_LABEL"
                class="col-md-12"
        />
        <field
                name="react_app_data_stream"
                type="subform"
                label="PLG_SYSTEM_AESIRX_BI_PARAM_REACT_APP_DATA_STREAM_LABEL"
                multiple="true"
                layout="joomla.form.field.subform.repeatable-table"
        >
            <form>
                <field
                        name="data_stream_name"
                        type="text"
                        label="PLG_SYSTEM_AESIRX_BI_PARAM_REACT_APP_DATA_STREAM_NAME_LABEL"
                />
                <field
                        name="data_stream_domain"
                        type="text"
                        label="PLG_SYSTEM_AESIRX_BI_PARAM_REACT_APP_DATA_STREAM_DOMAIN_LABEL"
                />
            </form>
        </field>
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_aesirx_bi" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
    </fieldset>
</config>